# NextJS app/api related settings
MONGODB_URI=mongodb://localhost:27017/your-db-name
INTEGRATION_APP_WORKSPACE_KEY=your-workspace-key
INTEGRATION_APP_WORKSPACE_SECRET=your-workspace-secret

# Temporal Server Configuration. This configuration is optional.
# If not provided, default values are used.
# TEMPORAL_SERVER_HOST=localhost # Default value "localhost"
# TEMPORAL_TASK_QUEUE_NAME=workflow-queue # Default value "workflow-queue"

# Temporal PostgreSQL
TEMPORAL_POSTGRESQL_DB=temporal
TEMPORAL_POSTGRESQL_PASSWORD=temporal
TEMPORAL_POSTGRESQL_USER=temporal
