# NextJS app/api related settings
MONGODB_URI=mongodb://localhost:27017/your-db-name
INTEGRATION_APP_WORKSPACE_KEY=your-workspace-key
INTEGRATION_APP_WORKSPACE_SECRET=your-workspace-secret

# Temporal Server Configuration
TEMPORAL_VERSION=1.26.3
TEMPORAL_UI_VERSION=2.34.0

# Temporal PostgreSQL
TEMPORAL_POSTGRESQL_VERSION=16
TEMPORAL_POSTGRESQL_DB=temporal
TEMPORAL_POSTGRESQL_PASSWORD=temporal
TEMPORAL_POSTGRESQL_USER=temporal
